[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tweepy = "<4"
pyyaml = "<6"
sqlalchemy = "<2"
pymysql = "*"
argparse = "*"
urllib3 = ">=1.26.5"

[dev-packages]
"flake8" = "*"
pytest = "*"
isort = "*"
ipython = ">=8.10"
"autopep8" = "*"
pydocstyle = "*"

[requires]
python_version = ">=3.8"
