[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pytest = "*"
tweepy = "*"
pyyaml = "*"
sqlalchemy = "*"
pymysql = "*"

[dev-packages]
"flake8" = "*"
isort = "*"
ipython = "*"
"autopep8" = "*"

[requires]
python_version = "3.6.6"
