[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tweepy = "*"
pyyaml = "*"
sqlalchemy = "*"
pymysql = "*"
argparse = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
isort = "*"
ipython = "*"
"autopep8" = "*"
python-language-server = {extras = ["all"],version = "*"}
pydocstyle = "*"

[requires]
python_version = "3.6.6"
